@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: hsl(199, 100%, 33%);
  --secondary-color: hsl(187, 85%, 43%);
  --text-color: hsl(240, 4%, 36%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(201, 33%, 16%);
  --white-colorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --input-color: rgb(239, 239, 239);
  --body-color: rgb(240, 240, 246);
  --cardesBG: rgb(225, 225, 235);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --cardhover: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.section {
  padding: 4rem 0 2rem;
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.flex {
  display: flex;
  align-items: center;
}
.icon {
  cursor: pointer;
  font-size: 2rem;
}
.grid {
  display: grid;
  align-items: center;
}
.flexWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.btn {
  padding: 0.6rem 1.5rem;
  background: var(--gradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn a {
  color: var(--white-color);
  font-weight: 500;
}
.btn:hover {
  background: var(--secondary-color);
}
img,
video {
  width: 100%;
  height: auto;
}
input {
  font-size: 100%;
}
body {
  background: var(--body-color);
}
.textCenter {
  text-align: center;
}
/* HomePages */
.home {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 120%;
  background: rgb(47, 106, 127);
  z-index: 1;
  mix-blend-mode: hard-light;
}
video {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 120%;
  object-fit: cover;
}
.homeContent {
  width: 100%;
  height: max-content;
  padding: 8rem 1.5rem 3rem;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: var(--white-color);
  z-index: 100;
}
.textDiv {
  padding: 2rem;
}
.smallText {
  font-size: 13px;
}
.homeTitle {
  position: relative;
  font-size: 1.8rem;
}
/* main */
.main {
  width: 100%;
  
}
.main .secTitle .title {
  position: relative;
  width: max-content;
  margin: 1rem 0;
  color: var(--text-color);
  z-index: 2;
  padding-top: 1rem;
}
.main .secTitle .title::after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 70px;
  height: 5px;
  background: var(--secondary-color);
  border-radius: 2rem;
  z-index: -1;
}
.main .secContent {
  gap: 1.5rem;
  margin-top: 2rem;
  justify-content: center;
   display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .main .secContent {
    grid-template-columns: repeat(3, 1fr);
  }
}

.main .singleDestination {
  height: 100%;
  row-gap: 10px;
  align-items: center;
  border-radius: 10px;
  background: var(--cardesBG);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
}
.main .singleDestination:hover {
  background: var(--cardhover);
  box-shadow: 1px 4px 4px rgba(85, 85, 114, 0.549);
  transform: translateY(-5px);
  transition: 0.3s ease;
}
.main .imageDiv {
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.main .imageDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 2s ease;
}
.main .imageDiv img:hover {
  transform: scale(1.1);
}
.main .cardInfo {
  padding: 1rem;
}
.main .destTitle {
  font-size: 1.2rem;
  color: var(--black-color);
}
.main .destTitle .continent {
  gap: 0.5rem;
}
.main .destTitle .continent .icons {
  color: var(--text-color);
  font-size: 20px;
}
.main .name {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
}
.fess {
  border-bottom: 1px solid var(--greyText);
  border-top: 1px solid var(--greyText);
  margin: 1rem 0;
  padding: 1rem;
}
.fess .price {
  color: var(--black-color);
  font-size: 2rem;
}
.main .desc {
  font-size: 13.5px;
  color: var(--text-color);
  font-weight: 500;
}
.main .btn {
  margin: 1rem 0;
  color: var(--white-color);
  font-weight: 700;
  justify-content: space-between;
  gap: 0.5rem;
}
.main .btn .icon {
  align-self: center;
  font-size: 22px;
}
